.contentPageAlign{
    margin-top:100px !important;
  }
  .modalAlign{
    margin-top:100px !important
  }
  .alignHeading{
    text-align: center  !important;
  }


  /* modal */
  .modal2{
      position: absolute;
     
      left:450px;
      
      
  }

	
        


